{{> admin_header}}

<div class="container my-2">
    <div class="row">
        <div class="columns col-12">
            {{> admin_sidebar}}
            <div class="column col-9">
                <div class="col-12">
                    <h1 style="display: inline-block;">Projects</h1>
                    <a style="display: inline-block;" href="/admin/projects/new" class="btn btn-primary">Add New Project</a>
                </div>
                {{#if model.projects.hasError}}
                    <div class="toast toast-error">
                        <button class="btn btn-clear float-right"></button>
                        <p>{{model.projects.error}}</p>
                    </div>
                {{/if}}
                {{#if model.projects}}
                    {{#each model.projects}}
                        <div class="card">

                            <div class="card-header">
                                <h4>{{title}}</h4>
                            </div>
                            <div class="divider"></div>
                            <div class="card-image img-fit-cover">
                                <img src="{{main_image}}" class="img-responsive img-fit-cover">
                            </div>
                            <div class="card-body">
                                <p>{{{content}}}</p>
                            </div>
                            <div class="divider"></div>
                            <div class="card-footer">
                                <div class="col-6">
                                    <a href="/admin/projects/edit/{{project_id}}" class="btn btn-primary">Edit</a>
                                    <a href="/admin/projects/delete/{{project_id}}" class="btn btn-error">Delete</a>
                                    <a href="/admin/projects/{{project_id}}" class="btn btn-primary">Read more</a>
                                </div>
                                <span class="label">
                                    Published on {{showLocalDateTime created_at}}
                                </span>
                                <span class="label">
                                    Last updated on {{showLocalDateTime updated_at}}
                                </span>

                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="empty">
                        <p class="empty-title h5">No projects were found.</p>
                        <p class="empty-subtitle">You can add a new project by clicking the button below.</p>
                        <div class="empty-action">
                            <a href="/admin/projects/new" class="btn btn-primary">Add Project</a>
                        </div>
                    </div>
                {{/if}}
                {{#if hasMultiplePages }}
                    <div class="col-12 pagination">
                        {{#if prev}}
                            <span class="label"><a href="/admin/projects?page={{prev}}">< Prev</a></span>
                        {{/if}}
                        <span class="label"><a href="/admin/projects?page={{currentPage}}">{{currentPage}}</a></span>
                        {{#if next}}
                            <span class="label"><a href="/admin/projects?page={{next}}">Next > of {{totalPages}}</a></span>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{> admin_footer}}