{{> admin_header}}

<div class="container my-2">
    <div class="row">
        <div class="columns col-12">
            {{> admin_sidebar}}
            <div class="column col-9">
                <div class="col-12">
                    <h1 style="display: inline-block;">Guest posts</h1>
                    <a style="display: inline-block;" href="/admin/guest-blogs/new" class="btn btn-primary">Add new
                        post</a>
                </div>
                {{#if blogs}}
                    {{#each blogs}}
                        <div class="card">

                            <div class="card-header">
                                <h4>{{title}}</h4>
                            </div>
                            <div class="divider"></div>
                            <div class="card-image img-fit-cover">
                                <img src="{{main_image}}" class="img-responsive img-fit-cover">
                            </div>
                            <div class="card-body">
                                <p>{{{content}}}</p>
                            </div>
                            <div class="divider"></div>
                            <div class="card-footer">
                                <div class="col-6">
                                    <a href="/admin/guest-blogs/edit/{{guest_post_id}}" class="btn btn-primary">Edit</a>
                                    <a href="/admin/guest-blogs/delete/{{guest_post_id}}" class="btn btn-error">Delete</a>
                                    <a href="/admin/guest-blogs/{{guest_post_id}}" class="btn btn-primary">Read more</a>
                                    <span class="label">
                                        {{author_first_name}} {{author_last_name}}
                                    </span>
                                </div>
                                <span class="label">
                                    Published on {{created_at}}
                                </span>
                                <span class="label">
                                    Last updated on {{updated_at}}
                                </span>

                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="empty">
                        <p class="empty-title h5">No guest blogs found.</p>
                    </div>
                {{/if}}
                {{#if hasMultiplePages }}
                    <div class="col-12 pagination">
                        <span class="label"><a href="/admin/guest-blogs/page/{{prev}}">Prev</a></span>
                        <span class="label">Page {{currentPage}} of {{totalPages}}</span>
                        <span class="label"><a href="/admin/guest-blogs/page/{{next}}">Next</a></span>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{> admin_footer}}