{{> admin_header}}
    <main class="container">
      <div class="row col-10 col-mx-auto col-md-12">
        
        <div class="columns col-12">
          {{> admin_sidebar}}
          <div class="column col-9 col-md-12 col-lg-9 col-xl-8">
            <div class="card">
              <div class="card-header">
                <h2>Blog</h2>
                <h4><a href="/admin/blogs">View all</a></h4>
              </div>
              <div class="divider"></div>
              <div class="card-body">
                <article> 
                  <h2>{{blog.title}}</h2>
                  <p>{{{firstTwentyWords blog.content}}}</p>
                  <img src="{{blog.main_image}}" alt="{{blog.title}}" class="img-responsive">
                  <button class="btn btn-primary" onclick="window.location.href='/admin/blog/edit/{{blog.blog_id}}'">Edit</button>
                </article>
              </div>
            </div>
            
            <div class="card">
              <div class="card-header">
                <h2>Projects</h2>
                <h4><a href="/admin/projects">View all</a></h4>
              </div>
              <div class="divider"></div>
              <div class="card-body">
                <article>
                  <h2>{{project.title}}</h2>
                  <p>{{{firstTwentyWords project.content}}}</p>
                  <img src="{{project.main_image}}" alt="{{project.title}}" class="img-responsive">
                  <button class="btn btn-primary" onclick="window.location.href='/admin/projects/edit/{{project.project_id}}'">Edit</button>
                </article>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h2>Users</h2>
                <h4><a href="/admin/users">View all</a></h4>
              </div>
              <div class="divider"></div>
              <div class="card-body">
                <ul>
                  <li>Number of users: {{userLength}}</li>
                  <li>Number of admins: {{adminLength}}</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </main>
{{> admin_footer}}