{{> admin_header}}
    <main class="container">
      <div class="row col-10 col-mx-auto">
        
        <div class="columns col-12">
          {{> admin_sidebar}}
          <div class="column col-9">
            <div class="card">
              <div class="card-header">
                <h2>Blog</h2>
              </div>
              <div class="divider"></div>
              <div class="card-body">
                <ul>
                  <li>Posts: {{blog.posts}}</li>
                  <li>Comments: {{blog.comments}}</li>
                  <li>Categories: {{blog.categories}}</li>
                  <li>Tags: {{blog.tags}}</li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h2>Guest Blog</h2>
              </div>
              <div class="divider"></div>
              <div class="card-body">
                <ul>
                  <li>Posts: {{guestblog.posts}}</li>
                  <li>Comments: {{guestblog.comments}}</li>
                  <li>Categories: {{guestblog.categories}}</li>
                  <li>Tags: {{guestblog.tags}}</li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h2>Projects</h2>
              </div>
              <div class="divider"></div>
              <div class="card-body">
                <ul>
                  <li>Projects: {{projects.projects}}</li>
                  <li>Categories: {{projects.categories}}</li>
                  <li>Tags: {{projects.tags}}</li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h2>Users</h2>
              </div>
              <div class="divider"></div>
              <div class="card-body">
                <ul>
                  <li>Users: {{users.users}}</li>
                  <li>Roles: {{users.roles}}</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </main>
{{> admin_footer}}