{{> header}}

 <main>
      <div class="container main-section">
        <div class="columns">
          <!-- Main Content Area -->
          <div class="column col-9 col-sm-12 col-md-8 main-content col-mx-auto">
            <!-- Row 1: Blog posts by Author -->
            <div class="columns">
              <div class="column col-12">
                <h4>Blog posts by Author</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptates, quibusdam. Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Voluptates, quibusdam.
                </p>
              </div>
              <!-- Card 1 -->
              {{#if main.posts}}
                {{#each main.posts}}
              <div class="column col-4 col-md-6 col-sm-12">
                    <div class="card">
                  <div class="card-image img-fit-cover">
                    <img
                      src="{{this.main_image}}"
                      class="img-responsive"
                        alt="{{this.title}}"
                    />
                  </div>
                  <div class="card-header">
                    <h4>{{this.title}}</h4>
                    <p>{{{firstTwentyWords this.content}}}</p>
                  </div>
                  <div class="divider"></div>
                  <div class="card-footer">
                    <a class="btn btn-primary" href="/blog/{{this.blog_id}}">Read More</a>
                    <div>
                        <span class="label ">Published on {{this.created_at}}</span>
                    <span class="label mx-2 my-2">By {{this.full_name}}</span>
                    </div>
                  </div>
                </div>
              </div>
                {{/each}}
                {{else}}
              <div class="column col-12">
                    <div class="toast toast-danger">
                        <p>No posts were found</p>
                    </div>
              </div>
              
                {{/if}}
              
              {{#if main.hasMultiplePages}}
                <div class="column col-10 col-mx-auto my-2">
                <a href="/blog/page/{{main.prev}}" class="btn btn-primary mx-2 my-2">Previous << </a>
                <span class="btn  mx-2 my-2"> {{main.currentPage}}</span>
                <a href="/blog/page/{{main.next}}" class="btn btn-primary mx-2 my-2"> >> Next </a>
              </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </main>

{{> footer}}