{{> header}}

<main>
      <div class="container main-section">
        <div class="columns">
          <!-- Main Content Area -->
          <div class="column col-9 col-sm-12 col-md-8 main-content col-mx-auto">
            <!-- Row 1: Blog posts by Author -->
            <div class="columns">
              <div class="column col-12">
                <h4>Guest posts</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptates, quibusdam. Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Voluptates, quibusdam.
                </p>
              </div>
              <!-- Card 1 -->
              {{#if main.guestPosts}}
                {{#each main.guestPosts}}
              <div class="column col-4 col-md-6 col-sm-12">
                    <div class="card">
                  <div class="card-image img-fit-cover">
                    <img
                      src="{{this.main_image}}"
                      class="img-responsive"
                        alt="{{this.title}}"
                    />
                  </div>
                  <div class="card-header">
                    <h4>{{this.title}}</h4>
                    <p>{{firstTwentyWords this.content}}</p>
                  </div>
                  <div class="divider"></div>
                  <div class="card-footer">
                    <a class="btn btn-primary" href="/guest-blogs/{{this.guest_post_id}}">Read More</a>
                    <div>
                        <span class="label">{{this.author.first_name}} {{this.author.last_name}}</span>
                    </div>
                  </div>
                </div>
              </div>
                {{/each}}
                {{else}}
              <div class="column col-12">
                    <div class="toast toast-danger">
                        <p>No guest posts were found</p>
                    </div>
              </div>
                {{/if}}
                {{#if main.hasMultiplePages}}
                  <div class="column col-10 col-mx-auto my-2 pagination">
                    
                      {{#if main.prev}}
                        <span class="label"><a href="/guest-blog?page={{main.prev}}">Prev</a></span>
                      {{/if}}
                      <span class="label">Page {{main.current}} of {{main.totalPages}}</span>
                      {{#if main.next}}
                        <span class="label"><a href="/guest-blog?page={{main.next}}">Next</a></span>
                      {{/if}}
                  </div>
                {{/if}}    
            </div>
          </div>
        </div>
      </div>
    </main>

{{> footer}}