{{> header}}

<main class="container">
      <div class="columns">
        <article class="column col-8 col-md-12 col-mx-auto my-2">
        <div class="card s-rounded">
          <div class="card-header">
            <h1>{{main.post.title}}</h1>
          </div>
          <div class="card-image">
            <img
              src="{{main.post.main_image}}"
              alt="{{main.post.title}}"
              class="img-responsive"
            />
          </div>
          <div class="divider"></div>
          <div class="card-body">
            <p>{{main.post.content}}</p>
          </div>
          <div class="divider"></div>
          <div class="card-footer">
            <span class="label">Published on {{main.post.created_at}}</span>
            <span class="label mx-2 my-2">By {{main.post.full_name}}</span>
          </div>
        </div>
      </article>
      </div>
    </main>

{{> footer}}