{{> header}}

<main>
      <div class="container main-section">
        <div class="columns">
          <!-- Main Content Area -->
          <div class="column col-9 col-sm-12 col-md-8 main-content col-mx-auto">
            <!-- Row 1: Blog posts by Author -->
            <div class="columns">
              <div class="column col-12">
                <h4>Overview of my projects</h4>
                <p>
                  Welcome to our portfolio, where innovation meets design and functionality. Our projects are a testament to our commitment to excellence and our passion for creating solutions that resonate with users and deliver tangible results. Each project showcased here embodies our dedication to quality, attention to detail, and an innovative approach to problem-solving.
                </p>
              </div>
              <!-- Card 1 -->
              {{#if main.projects}}
                {{#each main.projects}}
              <div class="column col-4 col-md-6 col-sm-12">
                    <div class="card">
                  <div class="card-image img-fit-cover">
                    <img
                      src="{{this.main_image}}"
                      class="img-responsive"
                        alt="{{this.title}}"
                    />
                  </div>
                  <div class="card-header">
                    <h4>{{this.title}}</h4>
                    <p>{{{firstTwentyWords this.content}}}</p>
                  </div>
                  <div class="divider"></div>
                  <div class="card-footer">
                    <a class="btn btn-primary" href="/projects/{{this.project_id}}">Read More</a>
                  </div>
                </div>
              </div>
                {{/each}}
                {{else}}
              <div class="column col-12">
                    <div class="toast toast-danger">
                        <p>No projects were found</p>
                    </div>
              </div>
                {{/if}}
              
              <div class="column col-10 col-mx-auto my-2">
                <a href="/projects/page/{{main.prev}}" class="btn btn-primary mx-2 my-2">Previous << </a>
                <span class="btn  mx-2 my-2"> {{main.current}}</span>
                <a href="/projects/page/{{main.next}}" class="btn btn-primary mx-2 my-2"> >> Next </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{{> footer}}