{{> admin_header}}

<div class="container my-2">
    <div class="row">
        <div class="columns col-12">
            {{> admin_sidebar}}
            <div class="column col-9">
                <div class="col-12">
                    <h1 style="display: inline-block;">Blogs</h1>
                    <a style="display: inline-block;" href="/admin/blogs/new" class="btn btn-primary">Add Blog</a>
                </div>
                <div class="col-12">
                    {{#if blogs.hasError}}
                        <div class="toast toast-error">
                           <p>{{blogs.error}}</p>
                        </div>
                    {{/if}}
                {{#if blogs.blogs}}
                    {{#each blogs.blogs}}
                        <div class="card">

                            <div class="card-header">
                                <h4>{{title}}</h4>
                            </div>
                            <div class="divider"></div>
                            <div class="card-image img-fit-cover">
                                <img src="{{main_image}}" class="img-responsive" height="500px">
                            </div>
                            <div class="card-body">
                                <p>{{{firstTwentyWords content}}}...</p>
                            </div>
                            <div class="divider"></div>
                            <div class="card-footer">
                                <div class="col-6">
                                    <a href="/admin/blogs/edit/{{blog_id}}" class="btn btn-primary">Edit</a>
                                    <a href="/admin/blogs/delete/{{blog_id}}" class="btn btn-error">Delete</a>
                                    <a href="/admin/blogs/{{blog_id}}" class="btn btn-primary">Read more</a>
                                </div>
                                <span class="label">
                                    Published on {{showLocalDateTime created_at}}
                                </span>
                                <span class="label">
                                    Last updated on {{showLocalDateTime updated_at}}
                                </span>

                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="empty">
                        <p class="empty-title h5">No blogs found.</p>
                        <p class="empty-subtitle">You can add a new blog by clicking the button below.</p>
                        <div class="empty-action">
                            <a href="/admin/blogs/new" class="btn btn-primary">Add Blog</a>
                        </div>
                    </div>
                {{/if}}
                {{#if hasMultiplePages }}
                    <div class="col-12 pagination">
                        {{#if prev}}
                            <a href="/admin/blogs?page={{prev}}" class="label my-2 mx-2">Previous</a>
                        {{/if}}
                        <span class="label my-2 mx-2">{{currentPage}} of {{totalPages}}</span>
                        {{#if next}}
                            <a href="/admin/blogs?page={{next}}" class="label my-2 mx-2">Next</a>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{> admin_footer}}